/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/META.yml
/META.json
/MYMETA.yml
/MYMETA.json
nytprof.out
/pm_to_blib
*.o
*.bs
*.bak
/_eumm/
*.zip
*.tar
*.tar.gz
